<!-- Klipse initialization. See https://github.com/viebel/klipse -->

<!-- We must maintain our own copy of http://app.klipse.tech/css/codemirror.css
     as file css/codemirror.css. This is because Github Pages will not allow
     resources to be referenced via HTTP, and app.klipse.tech does not seem to
     properly serve it via HTTPS.
-->
<link rel="stylesheet" type="text/css" href="/tutorials/css/klipse-codemirror.css">

<script>
 window.klipse_settings = {

     //  CSS selectors for the HTML elements you want to Klipsify:

     selector: '.language-klipse',                           // ClojureScript evaluation
     //selector_js: '.language-klipse-js',                     // ClojureScript transpilation. 
     //selector_reagent: '.language-reagent',                  // Reagent.
     selector_eval_js: '.language-klipse-eval-js',           // Javascript evaluation.
     //selector_eval_ruby: '.language-klipse-eval-ruby',       // Ruby evaluation.
     selector_es2017: '.language-klipse-es2017'              // EcmaScript 2017 evaluation.
     //selector_jsx: '.language-klipse-jsx',                   // JSX evaluation.
     //selector_transpile_jsx: '.language-transpile-jsx',      // JSX transpilation.
     //selector_eval_php: '.language-klipse-eval-php',         // PHP Evaluation.
     //selector_eval_markdown: '.language-klipse-markdown',    // Markdown transpilation.
     //selector_eval_lambdaway: '.language-klipse-lambdaway',  // Lambdaway transpilation.
     //selector_eval_python_client: '.language-klipse-python', // Python evaluation.
     //selector_eval_cpp: '.language-klipse-cpp',              // CPP evaluation
     //selector_eval_html: '.language-klipse-html',            // HTML evaluation.
     //selector_sql: '.language-klipse-sql',                   // Sqlite evaluation.
     //selector_eval_scheme: '.language-klipse-scheme',        // Scheme evaluation.

     //cached_ns_root: '/my-root',                             // Root of Clojure cached namespace.
     //clojure_cached_macro_ns_regexp: /reagent.*/,            // Regexp for Clojure macro namespaces that are cached.
     //clojure_cached_ns_regexp: /reagent.*/,                  // Regexp for Clojure namespaces that are cached.
     //codemirror_root: '/my-codemirror-root',                 // Root of Codemirror files.
     //scripts_root: '/my-scripts-root',                       // Root of scripts files (e.g pretty_format.js, opal.js ...).

 };
</script>

<!-- Must use the non-minified version of Klipse. See https://github.com/viebel/klipse#clojure
-->
<script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>

